language: python
python:
  - "2.6"
  - "2.7"
  - "3.0"
  - "3.1"
  - "3.2"
  - "3.3"
  - "3.4"
# command to install dependencies
install:
# - "pip install -r requirements.txt"
  - "pip install setuptools --upgrade; python setup.py install"
# command to run tests
script: nosetests
